.navContainer {
    height: 138px;
    background: linear-gradient(135deg, #fff, #dfe5fa);
    z-index: -1;
}

.navItems {
    display: grid;
    grid-template-columns: 0.5fr 2fr 1.5fr;
    align-items: center;
    height: 100%;
    max-width: 1364px;
    margin: 0 auto;
}

.navItems a {
    text-decoration: none;
}

.navLinkList {
    display: flex;
    flex-direction: row;
    justify-content: center;
    z-index: 100;
}

.navIcon {
    height: 40px;
    margin-left: 2.5vw;
    margin-right: 5px;
    border-radius: 50%;
    box-shadow: 0 4px 8px 0 #00000033, 0 6px 20px 0 #00000030;
}

.logoTitle {
    display: flex;
    font-weight: 800;
    color: #343C86;
    font-size: 17px;
}

.navContainer .navLink:hover {
    background-color: #5f5f5f18;
    font-weight: bold;
    color: #8300c9;
    border-radius: 5px;
}

.navContainer .navLink {
    margin: 0 2vw;
    text-decoration: none;
    color: #26003b;
    font-weight: 500;
    letter-spacing: 1px;
    z-index: 100;
    padding: 3px 0px;
    font-size: 15px;
    cursor: pointer;
}

.navLink svg {
    margin-right: 5px;
    color: #5264a3;
}

.navLink[sel="acct"] {
    width: 115px;
}

.topDesign {
    position: absolute;
    top: 0;
    left: 45%;
    width: 550px;
    z-index: 1;
}

.arrowHead {
    font-size: 15px;
}

.navLink .rotate {
    animation: rotate 0.2s ease 0s 1 normal forwards;
}

@keyframes rotate {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(180deg);
    }
}

.navLink .noRotate {
    animation: noRotate 0.2s ease 0s 1 normal forwards;
}

@keyframes noRotate {
    from {
        transform: rotate(180deg);
    }
    to {
        transform: rotate(0deg);
    }
}

ul.dropList {
    position: absolute;
    flex-direction: column;
    list-style: none;
    background-color: #ffffff;
    width: 130px;
    border-radius: 0 0 10px 10px;
    box-shadow: 0 2px 15px 0 #00000033;
}

ul.drop {
    display: flex;
    animation: drop 0.2s ease 0s 1 normal forwards;
    justify-content: space-around;
}

@keyframes drop {
    0% {
        height: 0;
        font-size: 0px;
    }
    100% {
        height: 80px;
        font-size: 17px;
    }
}

ul.noDrop {
    animation: noDrop 0.2s ease 0s 1 normal forwards;
    justify-content: space-around;
    display: flex;
}

@keyframes noDrop {
    0% {
        height: 80px;
        font-size: 17px;
    }
    100% {
        height: 0px;
        font-size: 0px;
    }
}

ul.dropList a {
    text-decoration: none;
    padding: 3px 8px;
}

ul.dropList a:hover {
    background-color: #5f5f5f18;
    font-weight: 500;
    color: #8300c9;
    border-radius: 5px;
}


/*************** Menu Button ***************/

.menuButton {
    display: none;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
    height: 17px;
    width: 25px;
    position: absolute;
    right: 5vw;
}

.menuButton div {
    height: 15%;
    transition: all 0.3s ease-in-out;
    border-radius: 40px;
}

.menuButton #l1 {
    width: 100%;
}

.menuButton #l2 {
    width: 50%;
}

.menuButton #l3 {
    width: 30%;
}

.menuButton.active {
    transition: all 0.2s ease-in-out;
}

.menuButton.active div {
    transition: all 0.2s ease-in-out;
}

.menuButton.active #l1 {
    transition-delay: 0.2s;
    transform: translateY(8px) rotate(135deg);
    width: 80%;
}

.menuButton.active #l3 {
    transform: translateY(-6px) rotate(-135deg);
    width: 80%;
    transition-delay: 0.2s;
}

.menuButton.active #l2 {
    width: 0;
}

.dropDownList {
    flex-direction: column;
    position: absolute;
    transition: all 0.3s ease-in-out;
    background-color: #fff;
    height: calc(100vh - 90px);
    width: 100%;
    justify-content: space-around;
    align-items: center;
    z-index: 2;
}

.dropDownList.dropOpen {
    display: flex;
    opacity: 1;
}

.dropDownList.dropClose {
    display: flex;
    opacity: 0;
    height: 0;
    font-size: 0;
    z-index: -1;
}

.dropDownList a {
    text-decoration: none;
    font-size: 10;
}