.authForm {
    display: flex;
    flex-direction: column;
    max-width: 600px;
    margin: 20px auto;
    box-shadow: 0 10px 20px 0 #00000033;
    padding-top: 30px;
    padding-bottom: 30px;
    box-sizing: border-box;
    align-items: center;
    font-family: "Roboto";
}

.authHeader {
    font-family: Roboto;
    color: #273976;
    font-size: 48px;
    font-weight: 500;
}

.loginInput {
    margin-bottom: 40px;
}

.loginInput,
.authButton {
    width: 60%;
    box-shadow: 0 1px 7px 0 #00000033;
    height: 53px;
}

.loginInput label {
    transform: translate(15px, 15px) scale(1);
    color: #0000008a
}

.loginInput .focusBorder {
    transform: translate(0px, 52px) scale(1);
}

.authButton {
    justify-content: center;
    box-sizing: border-box;
    background-image: url('../graphics/btnBGLong.png');
    background-size: cover;
    color: #fff;
    font-size: 16px;
}

.authButton:hover {
    background-image: url('../graphics/btnBGLongHover.png');
}

.keepSignedin,
.loginLink {
    width: 60%;
    margin: 20px 0;
}

.loginLink p {
    margin: 0;
}