.authForm {
    display: flex;
    flex-direction: column;
    box-shadow: 0 10px 20px 0 #00000033;
    box-sizing: border-box;
    align-items: center;
    font-family: "Roboto";
}

.loginForm {
    max-width: 600px;
    padding-top: 30px;
    padding-bottom: 30px;
    margin: 20px auto;
}

.loginHeader {
    font-family: Roboto;
    color: #273976;
    font-size: 48px;
    font-weight: 500;
}

.loginInput {
    width: 100%;
}

.loginInput,
.authButton {
    box-shadow: 0 1px 7px 0 #00000033;
    height: 53px;
}

.authButton {
    width: 60%;
}

.authInput {
    width: 60%;
    margin-bottom: 40px;
}

.authInput p {
    margin: 0;
    margin-top: 5px;
    color: #f44336;
    font-size: 10px;
}

.loginInput label {
    transform: translate(15px, 15px) scale(1);
    color: #0000008a;
}

.loginInput .focusBorder {
    transform: translate(0px, 52px) scale(1);
}

.authButton {
    justify-content: center;
    box-sizing: border-box;
    background-image: url('../graphics/btnBGLong.png');
    background-size: cover;
    color: #fff;
    font-size: 14px;
    margin: 10px 0;
}

.authButton:hover {
    background-image: url('../graphics/btnBGLongHover.png');
}

.keepSignedin,
.loginLink {
    width: 60%;
    margin: 0;
}

.loginLink p {
    margin: 0;
    font-size: 14px;
}


/************ Sign up **************/

.signupContainer {
    max-width: 1364px;
    text-align: center;
    margin: 0 auto;
    background-image: url('../graphics/SIgnupBG.png');
    padding-top: 40px;
    padding-bottom: 50px;
}

.signupTitle {
    margin: 0 auto;
    margin-bottom: 30px;
    border: #fff 5px solid;
    border-radius: 5px;
    width: 600px;
}

.signupTitle p,
.signupTitle h1 {
    margin: 0;
}

.signup {
    display: grid;
    grid-template-columns: 2fr 0.3fr 2fr;
    column-gap: 30px;
    align-items: center;
    justify-items: center;
}

.signupForm {
    width: 450px;
    padding-top: 10px;
    padding-bottom: 30px;
}

.signupHeader {
    font-family: Roboto;
    color: #273976;
    font-size: 36px;
    font-weight: 400;
}

.signup .authButton {
    margin: 10px 0;
    width: 70%;
}

.signup .authInput {
    margin-bottom: 30px;
    width: 70%;
}

.signup .loginInput label {
    transform: translate(15px, 10px) scale(1);
    color: #0000008a;
}

.signup .loginInput .focusBorder {
    transform: translate(0px, 40px) scale(1);
}

.signup .loginInput,
.signup .authButton {
    height: 40px;
}

.signup .loginLink {
    width: 70%;
}


/************ Error **************/

.inputError .loginInput label {
    color: #f44336;
}

.inputError .loginInput .focusBorder {
    background-color: #f44336;
}