.authForm {
    display: flex;
    flex-direction: column;
    box-shadow: 0 10px 20px 0 #00000033;
    box-sizing: border-box;
    align-items: center;
    font-family: "Roboto";
}

.loginForm {
    max-width: 600px;
    padding-top: 30px;
    padding-bottom: 30px;
    margin: 20px auto;
}

.loginHeader {
    font-family: Roboto;
    color: #273976;
    font-size: 48px;
    font-weight: 500;
}

.loginInput {
    width: 100%;
}

.loginInput,
.authButton {
    box-shadow: 0 1px 7px 0 #00000033;
    height: 53px;
}

.authButton {
    width: 60%;
}

.authInput {
    width: 60%;
    margin-bottom: 40px;
}

.authInput p {
    margin: 0;
    margin-top: 5px;
    color: #f44336;
    font-size: 10px;
}

.loginInput label {
    transform: translate(15px, 15px) scale(1);
    color: #0000008a;
}

.loginInput .focusBorder {
    transform: translate(0px, 52px) scale(1);
}

.authButton {
    justify-content: center;
    box-sizing: border-box;
    background-image: url('../graphics/btnBGLong.png');
    background-size: cover;
    color: #fff;
    font-size: 14px;
    margin: 10px 0;
}

.authButton:hover {
    background-image: url('../graphics/btnBGLongHover.png');
}

.keepSignedin,
.loginLink {
    width: 60%;
    margin: 0;
}

.loginLink p {
    margin: 0;
    font-size: 14px;
}


/************ Sign up **************/

.signupContainer {
    max-width: 1364px;
    text-align: center;
    margin: 0 auto;
    background-image: url('../graphics/SIgnupBG.png');
    padding-top: 40px;
    padding-bottom: 50px;
}

.signupTitle {
    margin: 0 auto;
    margin-bottom: 30px;
    border: #fff 5px solid;
    border-radius: 5px;
    width: 600px;
}

.signupTitle p,
.signupTitle h1 {
    margin: 0;
}

.signup {
    align-items: center;
    justify-items: center;
}

.signupForm {
    width: 650px;
    padding-top: 10px;
    padding-bottom: 30px;
    margin: 0 auto;
}

.signupHeader {
    font-family: Roboto;
    color: #273976;
    font-size: 36px;
    font-weight: 400;
}

.signup .authButton {
    margin: 10px 0;
}

.signup .authInput {
    margin-bottom: 40px;
}

.signup .loginInput label {
    transform: translate(15px, 10px) scale(1);
    color: #0000008a;
}

.signup .focusBorder {
    transform: translate(0px, 40px) scale(1);
}

.address .focusBorder {
    transform: translate(0px, 37px) scale(1);
}

.signup .loginInput,
.signup .authButton {
    height: 40px;
}

.signup .loginLink,
.signup .authButton,
.signup .authInput,
.addresses {
    width: 55%;
}

.signup .address {
    display: flex;
    justify-content: space-between;
    height: 40px;
    width: 100%;
    box-sizing: border-box;
    border: 1px #3f3f3f60 solid;
    border-radius: 5px 5px 0px 0;
    background-color: #fff;
}

.signup .address input,
.signup .address input:focus-within {
    border: none;
    outline: none;
}

.address .loginInput {
    width: 100%;
    height: 100%;
    box-shadow: none;
}

.address .loginInput div:first-of-type {
    width: 100%;
    height: 100%;
    box-shadow: none;
}

.address button {
    background: none;
    border: none;
}

.address button:hover {
    box-shadow: 0 2px 2px 0 #00000033;
    border-radius: 10px;
    background-color: #fafafa;
}

.addressPicker {
    display: flex;
    align-items: center;
}

.addressPicker .addAddress {
    margin-left: 20px;
    height: 30px;
    border-radius: 8px;
    width: 30px;
    box-shadow: 0 2px 5px 0 #0000005d;
    border: 0;
    padding: 4px 0 0 0;
    background-color: #ffffff;
}

.addAddress:hover {
    background-color: #fafafa;
}

.addressPicker .addAddress img {
    width: 17px;
}

.addresses {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
    flex-wrap: wrap;
}

.addresses div {
    display: flex;
    width: 160px;
    height: 20px;
    font-size: 10px;
    background-color: #273976;
    box-shadow: 0 2px 2px 0 #00000033;
    border-radius: 10px;
    padding-left: 8px;
    margin-bottom: 10px;
}

.addresses div p {
    width: 80%;
    margin: 0;
    margin-top: 5px;
    margin-right: 5px;
    text-align: center;
    overflow: hidden;
    color: #ffff;
}

.dltAddress {
    font-size: 16px;
    color: #00d400;
    border: none;
    background: none;
}

.dltAddress:hover {
    color: #ffff;
}


/************ Error **************/

.inputError .loginInput label {
    color: #f44336;
}

.inputError .loginInput .focusBorder {
    background-color: #f44336;
}