.detailsContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-left: 89px;
    padding-right: 82.5px;
    justify-content: space-between;
    width: 1000px
}

.detailsImg {
    height: 317px;
}

.detailsHead {
    font-family: 'Playfar Display';
    font-weight: 900;
    margin-bottom: 0;
    color: #3c1f6b;
    font-size: 45px;
}

.detailsSubTxt {
    width: 480px;
    font-size: 12px;
    color: #180558a6;
    line-height: 18px;
    margin-top: 30px;
}