.mainFooter {
    height: auto;
    background-color: #2c3a6b;
    width: 100%;
}

.footerContainer {
    max-width: 1264px;
    margin: 0 auto;
}

.footerBody {
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
    margin-bottom: 20px;
}

.footerTexts {
    display: flex;
    flex-direction: row;
    width: 700px;
    justify-content: space-between;
}

.footerLinks {
    display: flex;
    flex-direction: column;
}

.newsletter {
    display: flex;
    flex-direction: column;
    height: 100px;
    justify-content: space-between;
}

.newsletterText,
.listHeader {
    color: #fff;
    letter-spacing: 1px;
}

.footerLinks a {
    text-decoration: none;
    color: #ffffff9c;
    letter-spacing: 1px;
    font-size: 14px;
    margin-bottom: 8px;
    width: auto;
}

.footerLinks a:hover {
    background-color: #ffffff23;
    color: #ffffffce;
}

.sub.sub button {
    background-color: #6b5b9e;
    color: #ffffff;
    height: 36px;
}

.sub.sub button:hover {
    background-color: #6b5b9e88;
}

.sub.sub input {
    height: 36px;
    border-radius: 0;
}

.footerSocials {
    align-self: center;
}

.footerBottom {
    background-color: #e0e1ff;
}

.footerBtmItems {
    display: flex;
    color: #400174;
    width: 100%;
    width: 1264px;
    margin: 0 auto;
}

.footerBtmItems h1 {
    margin-bottom: 0;
    margin-right: 5px;
}

.footerBtmItems img {
    height: 40px;
    margin-top: 20px;
    margin-right: 20px;
}

.footerBtmItems p {
    align-self: flex-end;
    margin-bottom: 0;
}