.homeInfo {
    width: 95%;
    margin-left: 30px;
    margin-top: 95px;
    background-image: url('../graphics/Body\ Design1.png');
    background-size: cover;
    height: 600px;
    padding-top: 40px;
    padding-left: 95px;
    box-sizing: border-box;
}

.banner {
    font-size: 50px;
    width: 150px;
    font-family: 'Playfar Display';
    font-weight: 900;
    line-height: 70px;
    margin-bottom: 0;
    color: #3c1f6b;
}

.details {
    font-size: 12px;
    line-height: 18px;
    width: 400px;
    color: #00000086;
    margin-top: 50px;
}

.register:hover {
    background-image: url('../graphics/HoverButtonBG.png');
}

.register {
    background-image: url('../graphics/Button_BG.png');
    background-size: cover;
    color: #fff;
    justify-content: center;
    margin-right: 50px;
}

.learn {
    background-image: url('../graphics/ButtonBg2WithRightArrow.png');
    background-size: cover;
    padding-left: 5px;
}

.learn:hover {
    background-image: url('../graphics/BtnBGwithArrowHover.png');
}

.infoBtns {
    display: flex;
    margin-top: 50px;
}