.mediaCard {
    height: 350px;
    width: 234px;
    background-color: #ffff;
    box-shadow: 0 8px 8px 0 #00000033;
}

.mediaImg {
    overflow: hidden;
    height: 60%;
    text-align: center;
    padding-top: 28px;
    box-sizing: border-box;
}

.mediaTitle {
    font-family: 'Roboto', 'Playfar Display';
    font-weight: 900;
    margin: 0;
    color: #513486;
    font-size: 24px;
    text-align: center;
}

.mediaContent {
    font-family: 'Roboto', 'Playfar Display';
    font-size: 12px;
    width: 192px;
    margin-left: 21px;
    margin-right: 7px;
    margin-top: 20px;
    height: 40px;
}

.mediaImg img {
    height: 90%;
}

.mediaCards {
    width: 826px;
    display: flex;
    justify-content: space-between;
    margin: auto;
    margin-top: 96px;
}

.mediaAction {
    float: right;
    border: none;
    width: auto;
    margin-right: 14px;
    color: #4d1471c7;
    box-shadow: none;
}

.cardContainer {
    background-image: url('../graphics/CardsBG.png');
    height: 481px;
    display: flex;
    align-items: center;
}