.sideBar {
    width: 280px;
    position: absolute;
    top: -95px;
    right: 0;
    border: 1px #817a7a7c solid;
    border-top: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px 0;
    border-radius: 5px 0 0 5px;
    box-shadow: 0 2px 15px 0 #00000033;
}

.sideBar h3 {
    margin: 0;
    font-size: 25px;
}

.selectInput {
    margin: 40px 0;
}

.iconButton1 {
    margin-bottom: 40px;
    justify-content: center;
}

.mapIconBtn {
    background-image: url('../graphics/Button_BG.png');
    background-size: cover;
    color: #fff;
    margin-top: 30px;
}

.mapIconBtn:hover {
    background-image: url('../graphics/HoverButtonBG.png');
    color: #fff;
    font-weight: 500;
}

.mapIconBtn img {
    margin-left: 10px;
}

.footText {
    width: 200px;
    font-size: 12px;
    text-align: center;
}